<!DOCTYPE html>
<html>
	<head>
<style>
.all-browsers {
	  margin: 0;
		    padding: 5px;
			      background-color: lightgray;
}

.all-browsers > h1, .browser {
	  margin: 10px;
		    padding: 5px;
}

.browser {
	  background: white;
}

.browser > h2, p {
	  margin: 4px;
		    font-size: 90%;
}

#content {
	    position: absolute;
		        top: 0px;
				    right: 0px;
}
</style>
  <title>Veera's Demo</title>
	<script type="text/javascript">
		function display_c(){
			var refresh=1000; // Refresh rate in milli seconds
			mytime=setTimeout('display_ct()',refresh)
		}

function display_ct() {
	var x = new Date()
	var x1=x.getMonth() +1 + "/" + x.getDate() + "/" + x.getFullYear();
	x1 = x1 + " - " +  x.getHours( )+ ":" +  x.getMinutes() + ":" +  x.getSeconds();
	document.getElementById('ct').innerHTML = x1;
	display_c();
	 }
	</script>
	</head>
	<body onload=display_ct();>

		<article class="all-browsers">
			<!--    <h1>Hello from &emsp; <img alt="Qries" src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/86/Pluto_TV_2020_logo.svg/250px-Pluto_TV_2020_logo.svg.png"-->
			<!--         width=150" height="70"> </h1>-->

			  <div id="content">
				        <div>Version V1</div>
					  </div>
					    <article class="browser">
						        <h2>Date and Time</h2>
							    <span id='ct' ></span>


							      </article>
							        <article class="browser">
									    <h2>Hostname</h2>
									        <p>{{hostname}}</p>
										  </article>
		</article>

	</body>
</html>

